* {
    margin: 1;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: solid 0.5px #191A19;

}

.logo-golf {
    
    width: 150px;
    right: 130%;

}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    border: #191A19 4px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: #191A19;

}

.button {

    appearance:none;
    -webkit-appearance:none;
    cursor: pointer;
    padding:10px;
    border:none;
    background-color:#4E9F3D;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;
}

.main-menu {
        margin: 0 auto;
        padding: 16px ;
        width: 100%;
        max-width: 960px;

}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color:darkgreen;

}

.full-width {
    grid-column: span 2;

}

ul, ol {
    
    list-style: none;
}


h1 {
    color: #1E5128;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

h2 {text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    color: darkgreen;}

h3 {
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1e5128b0;
    background-clip: border-box ;
}

h4 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#191A19;
    align-items: center;
    
}

h5 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: #1E5128;
    text-align: center;
    background-color: #4E9F3D;

    
}

a {
    text-decoration: none;
    color: white;
}

body {
color: white;
    
}

body::before {
    content:'';
    background-image: url(../img/f256fa53f4a71faeafdc7d83ece05548.jpg) ;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

.menu {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    left: 32%;
    top: 60px;
    gap: 30px;
}

.menu li {
    background-color: #1E5128;
    padding: 5px 10px;
}

.card {
    background-color: #1e5128b0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 30px 55px 17px ; 
    padding: 60px;
    width: 300px;
    height: 560px;
    border: solid 10px #D8E9A8;
    position: relative; 
    align-items: center;


    }

.card img {

    border: solid 2px black;
}

.card button {

    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #191A19;
    color: #D8E9A8;
    position: absolute;
    bottom: 5%;
    

    }

    .oferta {
    
        position: absolute;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        top: 0px;
        right: 0px;
        width: 100px;
        color:#db1616;
        background-color:#D8E9A8;
        border: dotted 2px black ;
        
    }

    .padre-galeria {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
        
    }
    
    .padre-galeria img {width: 500px;
        border-radius: 30px;
    }

    .seccion-noticias {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .noticia-index {
        background-color: #1e5128b0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 20px 30px 55px 17px ; 
        padding: 20px;
        width: 350px;
        height:fit-content;
        border: solid 10px #D8E9A8;
        position: relative; 
    
        }

    .noticia-index button {

        border: none;
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 20px;
        background-color: #191A19;
        color: #D8E9A8;
    
        }

    footer{
        display: flex;
        gap: 20px;
        background-color: #191A19;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #D8E9A8;
        text-align: center;
        letter-spacing: 4px;
        align-items: center;
        justify-content: space-evenly;
    }


    .social-media img {
        
        position: relative;
        padding: 10px;
        width: 50px;
        gap: 30px;
    }

    .titulo-noticia {

        color: #D8E9A8;
    }

    .icono-redes, .whatsapp {
        width: 40px;
    }
    
    .whatsapp {
        position: fixed;
        bottom: 80px;
        right: 20px;
    }

    .carousel-item img {
        height: 250px;
    }
    
    @media (min-width: 992px) {
        .carousel-item img {
            height: 540px;
        }
    }
    
    #carouselExampleCaptions {
        width: 60%;
        margin: 0 auto;
    }

    .navbar {
        width: 100%;
    }
