.preguntas-frecuentes {
    
    h4 {
        color: $color-verde-oscuro;
    }

    p {
        font-size: $fuente-media;
        margin-left: $espacio-medio;
    }

    li {
        font-size: $fuente-media;
    }

}