form {
    @include flex-columna;
    gap: $espacio-chico;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: $espacio-chico;
    border-radius: $espacio-chico;
    border: #191A19 4px solid;
    color: #191A19;

    .campos {
        @include flex-columna;
    }
}
