.page_404{ padding:40px 0; background:#fff; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page_404  img{ width:100%;

}

.four_zero_four_bg{

background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
height: 520px;
background-position: center;
}


.four_zero_four_bg h1{
font-size:80px;
font-family: Courier New;
}

.four_zero_four_bg h3{
        font-size:80px;
    }
        
    .link_404{		
    
	color: #D8E9A8!important;
    padding: 10px 20px;
    background-color: #191A19;
    border-radius: 20px;
    margin: 20px 0;
    display: inline-block;
    &:hover {
        transform: scale(1.1);
        background-color: $color-verde-oscuro;
    }
    }
	.contant_box_404{ margin-top:-50px;
        
    
    }