footer {
    background-color: $color-gris-oscuro;
    padding: 30px 5px 0;
}

.footer-row {
display: flex;
flex-wrap: wrap;
}

.footer-links {
width: 25%;
padding: 0 15px;
}

.footer-links h4 {
font-size: 20px;
color: white;
margin-bottom: $espacio-chico;
font-weight:500;
border-bottom: 2px solid $color-amarillo;
padding-bottom: 10px;
display: inline-block;

}

.footer-links li a {
font-size: 18px;
text-decoration: none;
color: $color-gris-claro;
display:block;
margin-bottom: 5px;
transition: all .3s ease;

}

.footer-links  li a:hover {
color: white;
padding-left: 6px;

}

.social-link a {
display: inline-block;
min-height: 40px;
width: 40px;
background-color: darkslategrey;
margin: 0 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: white;
transition: all .5s ease;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: $espacio-medio;
    }

    }
