* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color:darkgreen;

}

.full-width {
    grid-column: span 2;

}

h1 {
    color: #1E5128;
    text-align: center;
    
}


h4 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#191A19;
    align-items: center;
    
}

h5 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: #1E5128;
    text-align: center;
    background-color: #4E9F3D;

    
}

a {
    text-decoration: none;
    color: white;
}

body::before {
    content:'';
    background-image: url(../img/f256fa53f4a71faeafdc7d83ece05548.webp) ;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

.menu {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    left: 32%;
    top: 60px;
    gap: 30px;
}

.menu li {
    background-color: #1E5128;
    padding: 5px 10px;
}


.icono-redes, .whatsapp {
    width: 40px;
    }
    
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 30px;
    }
    
#carouselExampleCaptions {
    height: 60%;
    width: 60%;
    margin: 0 auto;
    }

iframe {
        max-width: 100%;
    }