header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: solid 0.5px #191A19;

}

.navbar {
    width: 100%;
    }
    
    .social-link a:hover {
        background-color: #05890c;
    }
    
    .social-link-header a:hover {
        background-color: #05890c;
    }