.seccion-productos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        
    }

.card {
    background-color: $color-verde-oscuro;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 30px 55px 17px ; 
    padding: $espacio-grande;
    width: 300px;
    height: 510px;
    border: solid 10px $color-amarillo;
    position: relative; 
    align-items: center;

    .card img {

        border: solid 2px black;
        gap: $espacio-chico;
    }

    .card li {
        font-size: 8px;
        font-weight:lighter;
        padding: $espacio-grande;
    }

    }

.card button {

    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #191A19;
    color: $color-amarillo;
    position: absolute;
    bottom: 5%;

    &:hover {
        transform: scale(1.1);
    }

    }

.oferta {
    
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    top: 0px;
    right: 0px;
    width: 100px;
    color:#db1616;
    background-color:$color-amarillo;
    border: dotted 2px black ;
    
    }