* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto
}

footer {
        background-color: #24262bee;
        padding: 30px 5px 0;
    }

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight:500;
    border-bottom: 2px solid #D8E9A8;
    padding-bottom: 10px;
    display: inline-block;

}

.footer-links li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display:block;
    margin-bottom: 5px;
    transition: all .3s ease;

}

.footer-links  li a:hover {
    color: white;
    padding-left: 6px;

}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: darkslategrey;
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

.social-link-header a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: darkslategrey;
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

.social-link a:hover {
    background-color: #05890c;
}

.social-link-header a:hover {
    background-color: #05890c;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }

    }

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: solid 0.5px #191A19;

}

.logo-golf {
    height: 150px;
    width: 150px;
    right: 130%;

}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    border: #191A19 4px solid;
    display: grid;
    gap: 20px;
    color: #191A19;

}

.main-menu {
        margin: 0 auto;
        padding: 16px ;
        width: 100%;
        max-width: 960px;

}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color:darkgreen;

}

.full-width {
    grid-column: span 2;

}


h1 {
    color: #1E5128;
    text-align: center;
    
}


h4 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#191A19;
    align-items: center;
    
}

h5 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: #1E5128;
    text-align: center;
    background-color: #4E9F3D;

    
}

a {
    text-decoration: none;
    color: white;
}



body::before {
    content:'';
    background-image: url(../img/f256fa53f4a71faeafdc7d83ece05548.webp) ;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

.menu {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    left: 32%;
    top: 60px;
    gap: 30px;
}

.menu li {
    background-color: #1E5128;
    padding: 5px 10px;
}

.card {
    background-color: #1e5128b0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 30px 55px 17px ; 
    padding: 60px;
    width: 300px;
    height: 560px;
    border: solid 10px #D8E9A8;
    position: relative; 
    align-items: center;


    }

.card img {

    border: solid 2px black;
}

.card button {

    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #191A19;
    color: #D8E9A8;
    position: absolute;
    bottom: 5%;

    }

.oferta {
    
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    top: 0px;
    right: 0px;
    width: 100px;
    color:#db1616;
    background-color:#D8E9A8;
    border: dotted 2px black ;
    
    }

.padre-galeria {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    
    }
    
.padre-galeria img {width: 500px;
    border-radius: 30px;

    }

.seccion-noticias {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        
    }

.noticia-index {
    background-color: #1e5128b0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 30px 55px 17px ; 
    padding: 20px;
    width: 350px;
    height:fit-content;
    border: solid 10px #D8E9A8;
    position: relative; 
            
    }

.noticia-index img {
    width: 300px;
    aspect-ratio: auto 1 / 1;
}

.noticia-index button {

    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #191A19;
    color: #D8E9A8;
    
    }
    
.noticia-index button:hover {

    transform: scale(1.1);
    }


.social-media img {
        
    position: relative;
    padding: 10px;
    width: 50px;
    gap: 30px;
    }

    
.titulo-noticia {
    color: #D8E9A8;
    }

.icono-redes, .whatsapp {
    width: 40px;
    }
    
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 30px;
    }
    
    
#carouselExampleCaptions {
    height: 60%;
    width: 60%;
    margin: 0 auto;
    }


.navbar {
    width: 100%;
    }
    